* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    color: #ffffff;
}

.menu {
    height: 100px;
    overflow: hidden;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-400px);
    transition: all 2s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}


img {
    width: 300px;
    height: 300px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo {
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 211px;
}